.home {
	.main-head {
		height: 84.5%;

		@include bp(700px){
	        height: auto;
	    }
	}
	.hero {
		&:before {
			content: "";
			background: rgba(#000, .5);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.hero-content {
			font-size: 1.25rem;
			line-height: 1.25;
			padding: 4rem 0 2rem;
			text-align: center;

			@include bp($max:550px){
				font-size: 1rem;
				padding: 4rem 1rem 2rem;
			}
		}
		.content__link {
			padding-top: 1rem;
		}
	}
}