/*------------------------------------*\
    ::Content CTAs
\*------------------------------------*/
.ctas {
	float: left;
	width: 98.25%;
	margin: 0 .5em;
	@include bp($planetary){
		float: left;
		width: 98.5%;
		margin-bottom: 1em;
	}
	@include bp($max:480px){
		width: 96.5%;
	}
}
.ctas__inside {
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.cta {
	float: left;
	width: 24%;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 1em;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0; bottom:0; left:0; right:0;
		z-index: 0;
		background: rgba(#375c6b, .85);
		transition: background 400ms;
	}
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		@include bp($min:$solarsystem){
			height: 100%;
		}
	}
	h3 {
		color: $txt-color-3;
		text-align: center;
		transition: color 400ms;
	}
	.cta__content {
		display: inline-block;
		vertical-align: middle;
		width: 98%;
		position: relative;
		z-index: 5;
		opacity: 1;
		transition: opacity 400ms;
	}
	.cta__icon {
		text-align: left;
		.cta__icon--svg{
			width: 33%;
		}
		svg {
			max-width: 100%;
			max-height: 40px;
			fill: $txt-color-3;
			transition: fill 400ms;
		}
	}
	.cta__overlay {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		max-height: 98%;
		overflow: hidden;
		padding: 1em;
		color: $txt-color-3;
		z-index: 10;
		opacity: 0;
		transition: opacity 400ms;
	}
	&:hover {
		&:after {
			background: rgba(#061b23, .8);
		}
		@include bp($min:$solarsystem){
			.cta__content {
				opacity: 0;
			}
			.cta__overlay {
				opacity: 1;
			}
		}
	}

	@include bp($solarsystem){
		height: auto;
		padding: 2em 0 1em 0;
		.cta__overlay {
			position: relative;
			opacity: 1;
		}
		&:hover {
			h3 {
				color: $color-1;
			}
			.cta__icon {
				svg {
					fill: $color-1;
				}
			}
		}
	}

	@include bp($max:950px){
		width: 32%;
	}

	@include bp($planetary){
		width: 48%;
	}

	@include bp($max:480px){
		width: 98%;
	}
}