/*------------------------------------*\
    ::Social Bar Styles
\*------------------------------------*/
.transformer-tabs--block{
	svg{
		fill: $txt-color-3;
		position: relative;
		z-index: 1;
	}
	h6 {
		font-size: rem-calc(22px);
		margin: 0;
		position: relative;
		z-index: 1;
	}
	li{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: $txt-color-3;
		font: {
			family: $fam-heading;
			style: normal;
		}
		list-style: none;
		padding: 1rem 0;
		text-align: center;
		text-decoration: none;

		&.active,
		&:hover {
			color: $color-1;
			cursor: pointer;
			
			&:after {
				background: rgba(#061b23, .8);
			}

			svg {
				fill: $color-1;
			}
		}
	}
}

.tab-heading {
	display: none;
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

.tab-content__inside {
	padding: 3em 0 1em 0;
}