/*------------------------------------*\
    ::  Destination Map
\*------------------------------------*/
.page__destination {

	.main-head {
		background-color: #111111;
		height: 90px;
	}

	strong {
		color: $color-1-dark;
	}

	.destination__details {
		background: #ffffff;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		position: relative;
		max-height: 100%;

		.destination__slider,
		.details__inner {
			flex: 0 1 50%;
			padding: 2rem 1rem;

			@include bp($solarsystem){
				flex: 0 1 100%;
				padding: 0 0 1rem;
			}
		}
	}

	.flexslider {
		height: auto;
		margin: 0;
	}

	.destination__desc {
		color: #898989;
		line-height: 24px;
		padding: 0 $pad 1em $pad;

		@include bp($planetary){
			width: 100%;
		}
	}

	.destination__content {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		@include bp($planetary) {
			background-color: $color-2;
		}
	}

	.destination-location {
		min-height: 650px;
	}

	@include bp($solarsystem) {
		height: auto;
	}
}

.destination__facts {
	background-color: #fff;
	color: #4187c4;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	padding: 0 0 2rem;

	.destination__fact {
		float: left;
		width: 18%;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			// top: 25%; 
			top: 0;
			right: 0;
			height: 100%;
			border-right: 1px solid #4187c4;
		}
		.fact__icon {
			svg {
				max-width: 35px;
				max-height: 35px;
				fill:#4187c4;
			}
			// margin: 1em 0 2em 0;
		}
		.fact__text {
			padding: 5px;
			display: block;
			margin: 0 auto;
			width: 80%;
		}

		&:last-of-type:after {
			border: none;
		}
		// &:first-of-type {
		// 	&:before {
		// 		content: "";
		// 		position: absolute;
		// 		top: 53%; 
		// 		left: 0;
		// 		height: 45%;
		// 		border-left: 1px solid #4187c4;
		// 	}
		// }

		@include bp($max:875px){
			width: 20%;
		}
		@include bp($planetary){
			width: 100%;
			&:first-of-type {
				&:before {
					border-left: none;
				}
			}
			&:after {
				border-right: none;
			}
			.fact__icon {
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				padding-right: 1em;
				margin: 1em 0;
			}
			.fact__text {
				display: inline-block;
				vertical-align: middle;
				width: 75%;
				text-align: left;
			}
		}
	}
	@include bp($planetary){
		padding-bottom: 2em;
	}
}