/*------------------------------------*\
    ::Destination Slider
\*------------------------------------*/
.destination__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
}

.destination__card {
    flex: 0 1 33.3%;

    @include bp($solarsystem){
        flex: 0 1 50%;
    }

    @include bp($planetary){
        flex: 0 1 100%;
    }

    .card__content {
        padding: 5px;
        margin: .5rem;
    }
}