/*------------------------------------*\
    ::  Destination location
\*------------------------------------*/
.featured__location {
	background: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: .25em;
	float: left;
	width: 100%;

	.location__item {
		width: 50%;
	}
	.location__image {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		float: left;
		min-height: auto;
		@include bp($planetary){
			min-height: 200px;
		}
	}
	.location__video {
		position: relative;
		width: auto;
		img {
			height: 100%;
			@include bp($planetary){
				height: auto;
			}
		}
	}
	.location__content {
		padding: 1em 1.5rem;
		float: left;
	}
	.location__review {
		padding-bottom: 1em;
		width: 220px;
	}

	@include bp($planetary){
		display: block;
		.location__item {
			width: 100%;
		}
		.location__image {
			height: 300px;
		}
	}
}

.location__list {
	float: left;
	.location__image {
		background-size: contain;
		background-position: top center;
		background-repeat: no-repeat;
		height: 260px;
		@include bp($planetary){
			height: 300px;
		}
	}
	.location__content {
		position: relative;
		min-height: 440px;
		padding: 1em 1.5rem;
		.location__review {
			position: absolute;
			bottom: 1em; left: 1.5em; right: 1.5em;
			border-top: 1px solid #dee2e7;
			padding-top: 1em;
			img {
				width: 220px;
			}
			@include bp($max:650px){
				position: relative;
				margin-top: 1em;
				left:0;
				right: 0;
				bottom: 0;
			}
		}

		@include bp($max:650px){
			min-height: 0;
		}
	}
}

.location__error {
	padding: .5em;
}

.location__ad {
	display: block;
	float: left;
	width: 100%;
	a {
		display: block;
		width: 100%;
	}
	img {
		width: 100%;
	}
}

.location__website {
	a {
		color: $color-1-dark;
		font-weight: bold;
		&:hover {
			color: $color-1;
			text-decoration: underline;
		}
	}
}

.location__video {
	position: relative;
	a:after {
		content: url('images/general-png/youtube.png');
		position: absolute;
		font-size: 3rem;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 75px;
		margin-top: -25px;
		margin-left: -37px;
	}
}