/*------------------------------------*\
    ::Tips & Gear
\*------------------------------------*/
.blog .main-head {
	height: 30%;
}

.single-post {
	p {
		margin-top: 5px;
	}

	.single-torso__content {
		h2 {
			padding: 0;
		}
		h3 {
			padding-top: .75em;
			margin-bottom: 0;
			line-height: rem-calc(32px);
		}
	}

	.hero--youtube {
		position: relative;
		padding-bottom: 51.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

[class*="torso__content"]{
	h3 {
		a {
			color: $color-2;
			&:hover {
				color: $color-1;
			}
		}
	}
}

.single-torso__post {
	background-color: #ffffff;
}

.post__comments {
	border-top: 1px solid $color-1;
	margin-top: 2em;
	padding-top: 2rem;

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ol > li {
		border-bottom: 1px solid $color-1;
		padding: 1rem 0;
	}
	
	.comment__author {
		display: inline-block;
		font-weight: bold;
		padding-right: 1rem;
	}

	.comment__date {
		display: inline-block;
	}

	.comment-respond {
		margin-top: 2rem;
	}

	.comment-reply-link {
		padding-top: .5rem;
	}

	.children {
		list-style: none;
		padding: 1rem 2rem;

		li {
			border-top: 1px dotted $color-1;
			padding-top: 1.5rem;
			margin-top: .5rem;
		}
	}

	#cancel-comment-reply-link {
		text-decoration: underline;
	}
}