/*------------------------------------*\
    ::Destination Tabs
\*------------------------------------*/
.tab-content__inner {
	text-align: center;
}
.tab-content__inside {
	display: inline-block;
	text-align: left;
	width: 95%;
	margin: 0 auto;
	opacity: 1;
	transition: opacity 400ms;
	&.loading-opacity {
		opacity: 0;
	}
	@include bp($planetary){
		width: 93%;
	}
	@include bp($max:480px){
		width: 88%;
	}
}
.content__inside{
	position: relative;
	min-height: 400px;
	transition: height 400ms;

	@include bp($max: 947px) {
	    min-height: 700px;
	}
	@include bp($max: 550px) {
	    min-height: 930px;
	}
	.tabs{
		> div{
			display: block;
			position: absolute;
			top: 82px;
			width: 100%;

			@include bp($solarsystem){
				top: 348px;
			}
		}
	}
	.social-feed{
		clear: both;
		overflow: hidden;
		padding: {top:$pad*4;bottom:$pad*4;}
	}
}

.transformer-tabs--block{
	width: 100%;
	position: relative;
	z-index: 1;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		background: $color-2;
	}
	svg{
		width: 25px;
		height: 25px;
	}
	li{
		float: left;
		width: 12.25%;
		position: relative;
		&:after {
			content: "";
			position: absolute;
			top: 0; bottom:0; left:0; right:0;
			z-index: 0;
			background: rgba(#375c6b, .85);
			transition: background 400ms;
		}

		@include bp($solarsystem){
			width: 49.25%;
			margin-top: .35em;
		}
	}
	a{
		display: block;
		width: 100%;
		padding: $pad;
		position: relative;
		z-index: 5;
	}
}