/*------------------------------------*\
    ::Mountains
\*------------------------------------*/
.parallax-mountains {
	float: left;
	width: 100%;
	position: relative;
	background-image: url('images/global/mountains2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	height: 350px;
}