/*------------------------------------*\
    ::Uneven Grid
\*------------------------------------*/
.uneven-grid {
    float: left;
    width: 100%;
}

.uneven-grid__inside {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    img {
        display: block;
        width: 100%;
    }
}


.uneven-grid__group--half {
    width: 49.95%;
    float: left;
    @include bp($solarsystem){
        width: 100%;
    }
}

.uneven-grid__top {
    .uneven-grid__text,
    &:after {
        top: 0;
        margin-top: 0;
    }
}

.uneven-grid__group--small {
    position: relative;
    overflow: hidden;
}

.uneven-grid__left {
    position: relative;
    background-size: 0;
    &:after {
        @extend %abs-background;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0; right:0; bottom:0; left:0;
        z-index: 5;
    }
    .uneven-grid__text {
        position: relative;
        z-index: 10;
        padding: 1em 1em 0 1em;
        width: 85%;
        margin: 0 auto;
        h4 {
            margin-left: 1.5em;
        }
    }
    .uneven-grid__overlay {
        display: block;
        position: relative;
        z-index: 5;
        padding-bottom: .5em;
        margin: 0 auto;
        width: 70%;
        a {
            display: block;
            margin-top: 1.5em;
        }
    }
    @include bp($solarsystem){
        padding-bottom: 1em;
        &:after {
            top: 1em;
            bottom: 1em;
        }
        .uneven-grid__text {
            width: 100%;
            h4 {
                margin-left: 0;
            }
        }
    }
}
.uneven-grid__right-top {
    position: relative;
    background-size: 0;
    &:after {
        @extend %abs-background;
        left: 50%;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .uneven-grid__text {
        position: relative;
        margin: 0 50% 0 1em;
        padding: 1em;
        @include bp($solarsystem){
        	margin-left: 0;
        }
        @include bp($planetary){
            margin: 0 50% 0 0em;   
        }
        @include bp($max:575px){
            margin: 0 0 0 0;
        }
    }
    .uneven-grid__overlay {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 1em;
        z-index: 5;
        opacity: 0;
        transition: opacity 400ms;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        a {
            display: inline-block;
            vertical-align: middle;
        }

        @include bp($solarsystem){
            left: 0;
            z-index: -1;
        }
    }

    @include bp($min:$solarsystem){
        &:hover {
            .uneven-grid__overlay{
                opacity: 1;
            }
        }
    }

    @include bp($max:575px){
        &:after {
            background: none;
        }
    }
}
.uneven-grid__ad {
    line-height: 0;
    padding: 1em 0 0 1em;

    @include bp($solarsystem){
    	padding: 1em 0 0 0;
    }
}

